.main-container{
    height: 100vh;
    background-image: linear-gradient(to right, #44A08D,#093637);
}
/* Description Box */
.admin-description-box {
    
  background: #ffffff;
  padding: 20px 24px;
  border-radius: 12px;
  margin: 20px auto;
  max-width: 80vw;
  height: 70vh;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  border-left: 6px solid #4f46e5;  /* Purple accent */
}

.admin-desc-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #1e293b;
  margin-bottom: 10px;
}

.admin-desc-text {
  font-size: 1rem;
  line-height: 1.6;
  color: #475569;
}
